extends layout

block content
    h1= 'Device manager'
    #devices-list
        p(id='status') loading...

    script(type='text/javascript' src='./controllers/ajax.js')
    script(type='text/javascript' src='./controllers/index.js')
    script(type='text/javascript' src='./utils/utils.js')

    script.
        function fillItems(items) {



            if(items.length > 0){
                remove('status');
                for (let i = 0; i < items.length; i++) {
                    duplicate('devices-list', items[i]);
                }
            }else{
                setText('status', 'no devices');
            }

        }